@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
}

.question-accordion {
  @apply list-none border-b-2 border-[#E8E8EA];
}

.question-accordion .accordion-arrow {
  @apply scale-100 transition duration-300 ease-out;
}

.question-accordion[open] summary {
  @apply font-bold text-[#1E1F36] pb-3;
}

.question-accordion[open] .accordion-arrow {
  @apply -scale-100;
}

summary {
  @apply list-none text-[0.813rem] text-[#4B4C5F] lg:text-sm;
}

details > p {
  @apply text-xs text-[#787887] mb-4 lg:w-[320px];
}

.at-box {
	animation: 3s ease-in-out 0s infinite floating;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0px);
  }
}
